.title a,
.title a:hover {
  color: #ec6087;
  font-size: 24px;
  font-family: "ms sans serif";
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
}

main.container {
  width: 768px;
}

.main-name h1 {
  font-size: 28px;
}

button.btn {
  background-color: #ec6087;
  width: 100%;
  padding: 10px;
  border-radius: 23px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

button.btn a,
button.btn:hover {
  color: white;
  text-decoration: none;
}
